.app-container {
  display: grid;
  grid-template-columns: calc(100vw + 1px);
  grid-template-rows: 5rem calc(100vh - 0px);
  background: var(--primary);
  background: var(--background-color);

  & header {
    position: relative;
    z-index: 999999;
    color: white;
    h1,
    h2,
    h3,
    h4 {
      text-align: center;
      color: var(--heading-color);
    }

    &::after {
      content: "";
      display: block;
      width: 100%; /* Stretch the divider across the full width */
      height: 1px; /* Set the divider thickness */
      background-color: var(--heading-color);
      box-shadow: 0px 0px 7px 2px var(--heading-color);
    }
  }
  .content {
    // margin: 1rem 5rem;
    margin: 1rem 1rem 0px 5rem;
    height: calc(80vh - 0px);
    overflow-y: scroll;
    h1,
    h2,
    h3,
    h4 {
      color: var(--heading-color);
    }
    ul {
      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

@media (max-width: 599px) {
  .app-container {
    .content {
      margin: 0;
      height: calc(80vh - 0px);
      overflow-y: auto;
    }
  }
}
